*,
::before,
::after {
  box-sizing: border-box;
  margin : 0;
  padding : 0;
}


body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #92bdb0, #b4e9e6);
    padding: clamp(20px, 5vw, 50px) 20px 10px;  
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 90px;
    font-weight: 500;
    letter-spacing: 19px;
    text-align: center;
    color: rgb(26, 29, 29);
}

h1 span {
    font-weight: 800;
}

.global-container {
    max-width : 600px;
    margin : 0 auto;
}

.question-block {
    padding: 25px;
    margin: 20px 0;
    border-radius: 5px;
    background: #86c4c1bb;
    box-shadow: 0 5px 10px rgb(100, 100, 100, 0.5); /*0 sur x, 5 sur y et 10px de flou*/
}

.question-block h4 {
    font-size: 23px ;
    font-weight: 600;
    margin-bottom: 20px;
}

/* >div pour désigner les enfants de premier niveau de qst-block que sont les div autour de l'input */
.question-block > div {
    margin: 15px 0; /*espacer les rep*/
    display: flex;
    align-items: center;
}

label, input { 
    cursor: pointer; /*changer la souris*/
}

.question-block label {
    font-size: 20px;
}

.question-block input {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

form button {
    display: block;
    min-width: 180px;
    height: 50px;
    align-items: center;
    margin: 40px auto;
    background: #8af5a5bb;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px 5px rgb(0, 0, 0, 0.5);
    font-size: 20px;
    cursor : pointer;
}

form button:hover {
    background: #366140;
}

.results {
    padding: 20px;
    margin: 10px 0 70px;
    border-radius: 5px;
    background: #ffffffbb;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.results h2 {
    font-size: 22px;
    font-weight: 400;
}

.results h2 span {
    font-weight: 600;
}

.results h2 .help {
    text-align: center;
}

.help .mark {
    margin-top: 20px;
}

.mark {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}